
// @import "../../asset/icomoon/icon-common"; // 导入外联icon样式表

.bond-form-editor {
	font-size: 34rpx;
	
	view {
		display: flex;
		line-height: 48rpx;
	}

	.form-editor-top {
		padding: 20rpx 30rpx;
		font-size: 28rpx;
		color: #888888;
		background-color: #F1F1F1;
		border-bottom: 1rpx solid #E5E5E5;
	}

	.star-span {
		padding-top: 5rpx;
		color: #E64340;
		margin: 0 2rpx;
	}

	input {
		border: none;
		outline: none;
		height: 48rpx;
		// border: 1px solid #DDDDDD;
	}

	.row-item {
		padding: 20rpx 30rpx;
		border-bottom: 1rpx solid #E5E5E5;
	}

	.label-area {
		width: 30%;
		// display: flex;
		float: left;
	}

	.editor-area {
		width: 65%;

		input {
			width: 100%;
		}

		.color-gray {
			color: #B2B2B2;
		}

		.spacing-line {
			margin: 0 15rpx;
		}

		.triangle-icon {
			float: right;
			display: block;
			width: 20rpx;
			height: 20rpx;
			margin-top: 10rpx;
			border-top: 4rpx solid #C7C7CC;
			border-right: 4rpx solid #C7C7CC;
		}

		.triangle-down {
			transform: rotate(135deg);
		}

		.triangle-up {
			margin-top: 22rpx;
			transform: rotate(-45deg);
		}
	}

	.release-time,
	.closing-time {
		.editor-area {
			.time-picker-area {
				display: block;
				float: right;
				width: 100%;
				height: 48rpx;
				
				.time-select-picker {
					display: block;
					width: 100%;
					height: 48rpx;
			
					.calendar-icon {
						float: right;
						display: block;
						width: 32rpx;
						height: 32rpx;
						margin-top: 14rpx;
						background-image: url("data:image/svg+xml,%3C?xml version='1.0' standalone='no'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg t='1523525778828' class='icon' style='' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1150' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C/style%3E%3C/defs%3E%3Cpath d='M105.813333 158.068364a26.127515 26.127515 0 0 0-26.127515 26.127515v705.536c0 14.429091 11.698424 26.127515 26.127515 26.127515h783.918546a26.127515 26.127515 0 0 0 26.127515-26.127515V184.195879a26.127515 26.127515 0 0 0-26.127515-26.127515H105.813333z m0-78.382546h783.918546a104.510061 104.510061 0 0 1 104.541091 104.510061v705.536a104.510061 104.510061 0 0 1-104.541091 104.541091H105.813333a104.510061 104.510061 0 0 1-104.51006-104.541091V184.195879A104.510061 104.510061 0 0 1 105.813333 79.685818z m-26.127515 209.051152v78.382545h836.173576V288.73697H79.685818zM275.673212 1.303273c21.628121 0 39.191273 17.532121 39.191273 39.191272v156.765091a39.191273 39.191273 0 1 1-78.382546 0V40.494545c0-21.659152 17.532121-39.191273 39.191273-39.191272z m-26.127515 496.484848h78.382545a39.191273 39.191273 0 1 1 0 78.382546H249.545697a39.191273 39.191273 0 1 1 0-78.382546z m209.020121 0h78.413576a39.191273 39.191273 0 0 1 0 78.382546h-78.413576a39.191273 39.191273 0 1 1 0-78.382546z m-209.020121 209.020121h78.382545a39.191273 39.191273 0 1 1 0 78.413576H249.545697a39.191273 39.191273 0 0 1 0-78.413576z m209.020121 0h78.413576a39.191273 39.191273 0 0 1 0 78.413576h-78.413576a39.191273 39.191273 0 1 1 0-78.413576z m209.051152-209.020121h78.413575a39.191273 39.191273 0 1 1 0 78.382546h-78.413575a39.191273 39.191273 0 1 1 0-78.382546z m52.28606-496.484848c21.628121 0 39.191273 17.532121 39.191273 39.191272v156.765091a39.191273 39.191273 0 0 1-78.382545 0V40.494545c0-21.659152 17.532121-39.191273 39.191272-39.191272z' fill='%23888888' p-id='1151'%3E%3C/path%3E%3C/svg%3E");
						background-repeat: no-repeat;
						background-position: right;
					}
				}
			}
		}
	}

	.listing-spot,
	.bond-type,
	.specific-items {
		display: block;

		.editor-area {
			display: block;
		}
	}

	.checkbox-flag-area { // 上市地点 点击打开选项
		width: 100%;
	}

	.checkbox-item-area { // 多选按钮
		display: block;
		width: 100%;
		padding-top: 20rpx;
		overflow: hidden;

		.checkbox-item {
			position: relative;
			display: block;
			float: left;
			width: 182rpx;
			height: 42rpx;
			padding: 14rpx;
			margin: 0 20rpx 20rpx 0;
			font-size: 28rpx;
			line-height: 42rpx;
			text-align: center;
			background-color: #F5F5F5;

			.delete-icon {
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				width: 42rpx;
				height: 34rpx;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' t='1523516518144' class='icon' style='' viewBox='0 0 1264 1024' version='1.1' p-id='680' width='21' height='17'%3E%3Cdefs%3E%3Cstyle type='text/css'/%3E%3C/defs%3E%3Cpath d='M1264.941176 1024V120.470588a120.470588 120.470588 0 0 0-120.470588-120.470588H0l1264.941176 1024zM933.647059 286.509176l157.997176-157.967058a29.967059 29.967059 0 0 1 42.435765 0.240941l2.108235 2.108235a30.117647 30.117647 0 0 1 0.210824 42.405647L978.432 331.294118l157.967059 157.997176a29.967059 29.967059 0 0 1-0.240941 42.435765l-2.108236 2.108235a30.117647 30.117647 0 0 1-42.405647 0.210824L933.647059 376.079059l-157.997177 157.967059a29.967059 29.967059 0 0 1-42.435764-0.240942l-2.108236-2.108235a30.117647 30.117647 0 0 1-0.210823-42.405647L888.862118 331.294118l-157.967059-157.997177a29.967059 29.967059 0 0 1 0.240941-42.435765l2.108235-2.108235a30.117647 30.117647 0 0 1 42.405647-0.210823L933.647059 286.509176z' fill='%232196F3' p-id='681'/%3E%3C/svg%3E");
				background-size: cover;
			}
		}

		.selected {
			color: #2196F3;
			background-color: rgba(33, 150, 243, 0.15);
		}
	}

	.checkbox-item-area-hide {
		display: none;
	}

	.dropdown-btn {
		width: 100%;

		.down-icon {
			display: block;
			width: 100%;
			height: 48rpx;
		}
	}

	//利率方式 样式	
	.rate-method {
		.label {
			display: inline-block;
		}

		.editor-area {
			.rate-method-picker {
				width: 45%;
				border-right: 1rpx solid #E5E5E5;

				.rate-triangle-right {
					margin-right: 16rpx;
				}
			}
		}

		.section {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			font-size: 28rpx;
			margin-left: 15rpx;

			.benchmark-label {
				display: flex;
				float: left;
				margin: 2rpx 15rpx 0 0;
			}

			.benchmark-input {
				width: 65%;
			}
		}
		.on { 
			color: #000000;
		 }
		.off {
			color: #B2B2B2;
		}
	}

	.upload-fiel {
		padding: 12rpx 30rpx;

		text {
			font-size: 28rpx;
		}
	}
}

.test-icon {
	display: inline-block;
	width: 50rpx;
	height: 50rpx;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' height='24' viewBox='0 0 24 24' width='24'%3E %3Cpath d='M0 0h24v24H0z' fill='none'/%3E %3Cpath d='M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z'/%3E %3C/svg%3E");
	background-size: cover;
}
