
@import "../../asset/icomoon/icon-common"; // 导入外联icon样式表

.bond-form-editor {
	input {
		border: 1px solid #DDDDDD;
	}

	.row-item {
		margin-bottom: 10rpx;
	}

	.label-area {
		width: 30%;
		display: flex;
		float: left;
		// line-height: 30rpx;
	}

	.editor-area {
		width: 60%;
		display: flex;
	}

	.checkbox-list {
		width: 100%;
	}

	.time-select-picker {
		display: flex;
		border: 1rpx solid #DDDDDD;
	}

	.dropdown-btn {
		display: inline-block;
		padding: 2rpx;
		border: 1rpx solid #DDDDDD;
		background-color: #f1f1f1;

		.select-button {
			display: inline-block;
			width: 200rpx;
			height: 35rpx;
		}
	}

	//利率方式 样式	
	.rate-method {
		// border: 1rpx solid #DDDDDD;

		.label {
			display: inline-block;
		}
	}
	.section {
		display: inline-block;
		vertical-align: top;
		width: 100rpx;
		font-size:28rpx;
		margin-left: 10rpx;
		margin-top: 5rpx;
	}
	.section input {
		border: 1rpx solid #DDDDDD;
	}
	.on { visibility: show; }
	.off { visibility: hidden; }
}

.test-icon {
	display: inline-block;
	width: 50rpx;
	height: 50rpx;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' height='24' viewBox='0 0 24 24' width='24'%3E %3Cpath d='M0 0h24v24H0z' fill='none'/%3E %3Cpath d='M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z'/%3E %3C/svg%3E");
	background-size: cover;
}
