.filter-component {
	font-size: 30rpx;

	.wrapper {
		width: 100%;
		line-height: 60rpx;
		background: #FFFFFF;
		overflow: hidden;
	}

	.filter-item {
		float: left;
		width: 33.33%;
		font-size: 30rpx;
		text-align: center;

		&.label {
			width: 100rpx;
			color: #999999;
		}

		.icon-down-arrow {
			&::before {
				content:"";  
				border: 17rpx solid #999;  
				border-bottom:none;  
				border-right-color:transparent;  
				border-left-color:transparent;  
				position:relative;  
				top: 32rpx;  
				left: 16rpx;  
				border-radius: 12rpx;  
			}

			&::after {
				content:"";  
				border: 16rpx solid #fff;  
				border-bottom:none;  
				border-right-color:transparent;  
				border-left-color:transparent;  
				position:relative;  
				top: 30rpx;  
				left: -16rpx;  
			}
		}

		.filter-pallet {
			position:absolute;
			width: 100%;
			z-index: 99;
			background: #FFFFFF;
			border: 1rpx solid #EEEEEE;
			border-radius: 2rpx;
			box-shadow: 0 6rpx 12rpx rgba(0, 0, 0, 0.175);

			.filter-pallet-checkbox {
				display: flex;

				checkbox-group {
					.checkbox {
						float: left;
						width: 50%;
					}
				}
			}

			.filter-pallet-btn {
				display: flex;

				.btn-reset {
					background-color: #FFFFFF;
					color: #2196F3;
				}

				.btn-confirm {
					background-color: #2196F3;
					color: #FFFFFF;
				}
			}
		}

		&.bond_type {
			.filter-pallet {
				left: 0;

				checkbox-group {
					.checkbox {
						&:last-child {
							width: 100%;
						}
					}
				}	
			}
		}

		&.deadline {
			.filter-pallet {
				left: 0;

				checkbox-group {
					.checkbox {
						&:last-child {
							width: 100%;
						}
					}
				}
			}
		}

		&.subject_rating {
			.filter-pallet {
				left: 0;

				checkbox-group {
					width: 300rpx;
				}
			}
		}
	}
}
