.filter-component {
	display: flex;
	height: 80rpx;
	line-height: 80rpx;
	padding: 0 10rpx;
	background: #FFFFFF;
	font-size: 30rpx;

	.filter-item {
		float: left;
		font-size: 30rpx;
		width: 200rpx;

		&.label {
			width: 100rpx;
			color: #999999;
		}
	}
}
