.bond-question {
	padding: 10rpx 0 20rpx 30rpx;
	background: #FFFFFF;
	font-size: 28rpx;

	.header {
		position: relative;
		width: 100%;
		padding: 30rpx 0;

		.title {
			position: relative;
			left: 8rpx;
			color: #888888;
		}

		.btn-ask {
			position: absolute;
			top: 20rpx;
			right: 30rpx;
			height: 60rpx;
			line-height: 60rpx;
			padding: 0 33rpx;
			background: none;
			border: 1px solid #2196F3;
			color: #2196F3;
		}
	}

	.question-list {
		overflow: auto;
		padding-left:14rpx;
		border-top: 1px solid #E5E5E5;
		padding-top: 10rpx;

		.question-item {
			float: left;
			width: 100%;
			padding:10rpx 0;
			margin-bottom: 20rpx;
			border-left: 1px solid #E5E5E5;

			.icon {
				position:relative;
				float:left;
				top: 16rpx;
				margin-right:10rpx;
				left: -8rpx;

				view {
					width: 13rpx;
					height: 13rpx;
					border-radius: 50%;
					background: #E5E5E5;
				}
			}

			.question-content {
				float: left;
				width: calc(~'100% - 20px');
				font-size: small;
				
				.content-title,
				.content-text,
				.btn-answer {
					float: left;
				}

				.content-title {
					width: 60rpx;
				}

				.content-text {
					width: calc(~'100% - 160rpx');
				}

				text {
					line-height: 36rpx;
				}

				.btn-answer {
					position:relative;
					line-height: 36rpx;
					width: 100rpx;
					padding-left: 0;
					padding-right: 0;
					background: none;
					border: none;
					outline: none;
					color: #2196F3;
				}
			}

			.answer-list {
				float: left;
				width: calc(~'100% - 50rpx');
				padding-left: 20rpx;
				margin-top: 20rpx;
			}
		}
	}
}