@import "../../../template/seller-info/seller-template.less";

.store-header-component {
	position: relative;
	padding: 20rpx;
	background: #FFFFFF;

	.personal-info-pallet + .store-statistics-component {
		border-top: 1rpx solid #CCCCCC;
	}

	.btn-to-index {
		position: absolute;
		top: 20rpx;
		right: 8rpx;
		line-height: 36rpx;
		padding: 3rpx 20rpx;
		background: none;
		border: 1px solid #2196F3;
		color: #2196F3;
	}
}
