
.administration-page {
	padding: 20rpx;
	height: calc(~'100% - 40rpx');

	.bond-list-pallet {
		width: calc(~'100% - 40rpx');
		height: calc(~'100% - 40rpx');
		padding: 20rpx;
		background: #FFFFFF;

		.item {
			float: left;
			width: 30%;

			&.operator {
				width: 40%;
			}
		}

		.header {
			height: 80rpx;
			line-height: 80rpx;
			border-bottom: 1px solid #D8D8D8;
		}

		.content {
			font-size: 30rpx;

			.item {
				height: 80rpx;
				line-height: 80rpx;
				
				&.name {
					width: 30%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				&.operator {
					button {
						position: relative;
						top: 10rpx;
						height: 60rpx;
						line-height: 60rpx;
						padding: 0 26rpx;
					}

					.btn-more {
						margin-left: 20rpx;
					}
				}
			}
		}
	}

	.bond-send-quote {
		width:100rpx;
		height:100rpx;
		border-radius:50%;
		position:absolute;
		right:50rpx;
		bottom:50rpx;
		background-color: #2196F3;

		.iconfont {
			display: inline-block;
			width: 100rpx;
			height: 100rpx;
		}
	
		.icon-plus-with-circle {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' height='24' viewBox='0 0 24 24' width='24'%3E %3Cpath d='M0 0h24v24H0z' fill='none'/%3E %3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z'/%3E %3C/svg%3E");
			background-size: cover;
		}
	}
}
