
.administration-page {
	padding-top: 20rpx;
	height: calc(~'100% - 40rpx');
	position: relative;

	.to-quotation {
		position: relative;
		background: #FFFFFF;
		height: 88rpx;
		line-height: 88rpx;
		padding: 0 30rpx;
	
		text {
			font-size: 34rpx;
		}

		image {
			width: 36rpx;
			height: 36rpx;
			position: relative;
			top: 5rpx;
			margin-right: 20rpx;
		}

		.icon-right-arrow{
			display:inline-block;
			width: 16rpx;
			height: 16rpx;
			border-top: 4rpx solid #C7C7CC;
			border-right: 4rpx solid #C7C7CC;
			transform: rotate(45deg);
			position:absolute;
			top:35rpx;
			right:30rpx;
		}
	}

	.bond-list-pallet {
		width: 100%;
		height: calc(~'100% - 44rpx');
	}

	.loading-more {
		height: 80rpx;
		line-height: 80rpx;
		text-align: center;
		font-size: 32rpx;
	}
}
