.date-bar-component {
	height: 80rpx;
	line-height: 80rpx;
	padding-left: 5rpx;
	background: #FFFFFF;
	font-size: 30rpx;

	.content {
		padding: 20rpx 0;
	}
	
	.label {
		color: #999999;
	}

	.date-item {
		display: inline-block;
		height: 50rpx;
		line-height: 50rpx;
		text-align: center;
		width: calc(~'25% - 2rpx');

		&.active {
			// background-color: #2196f3;
			color: #2196f3;
		}
	}

	.split-line {
		display: inline-block;
		background-color: #D8D8D8;
		width: 1rpx;
		height: 40rpx;
		position: relative;
		top: 10rpx;

		&:last-child {
			width: 0;	
		}
	}
}