.date-bar-component {
	height: 160rpx;
	line-height: 80rpx;
	padding-left: 15rpx;
	background: #FFFFFF;
	font-size: 30rpx;

	.content {
		padding: 20rpx 0;
	}
	
	.label {
		color: #999999;
	}

	.date-bar-item {
		float: left;
		width: 14.28%;
		text-align: center;

		.weekday {
			color: #B2B2B2;
		}
		
		.date {
			color: #888888;
		}

		.normal {
			width: calc(~'100% - 2rpx');
		}

		.today {
			display: inline-block;
			width: 50rpx;
			height: 50rpx; 
			line-height: 50rpx;
			color: #000000;
			background:#2196F3;
			opacity:0.3; 
			border-radius: 100%;
		}

		.active {
			color: #FFFFFF;
			display: inline-block;
			width: 50rpx;
			line-height: 50rpx;
			height: 50rpx; 
			background:#2196F3;
			border-radius: 100%;
		}
	}

	.test {
		background: red !important;
	}

	.split-line {
		color: #D8D8D8;
		width: 1rpx;
		height: 40rpx;
		margin-left: 5rpx;
	}
}