.bond-detail-page {
	font-size: small;

	.tab-bar {
		overflow: hidden;
		view {
			float: left;
			font-size:30rpx;
			width: 33.3%;
			height: 80rpx;
			line-height: 80rpx;
			text-align: center;
			
			&.active {
				background: #FFFFFF;
				border-top-left-radius: 10rpx;
				border-top-right-radius: 10rpx;
			}
		}

		.question-total {
			color: #2196F3;
		}
	}	

	.content {
		scroll-view {
			height: 100%;
		}

		.other-bond-list {
			margin-top: 10rpx;
		}
	}
}