.bond-detail-page {
	font-size: small;

	.tab-bar {
		width:100%;
		border-bottom:2rpx solid #D8D8D8;
		text-align:center;
		line-height:80rpx;
		background-color:#FFFFFF;

		.tab-bar-item {
			font-size:30rpx;
			display:inline-block;
			width:16.33%;
			padding:0 8%;
			color:#000000;

			.active {
				color: #2196F3;
				border-bottom: 5rpx solid #2196F3;
			}
		}

		.question-total {
			color: #2196F3;
		}
	}	

	.content {
		scroll-view {
			height: 100%;
		}

		.other-bond-list {
			margin-top: 10rpx;
		}
	}
}