.seller-info-tpl {
	overflow: hidden;

	view {
		float: left;
	}

	.face-url {
		width: 60rpx;
		height: 60rpx;
		border-radius: 100%;
		position: relative;
		left: 20rpx;
	}

	.v-user {
		position: relative;
		top: 12rpx;
		left: -2rpx;
		padding: 18rpx;
		background-size: 90rpx;

		&.big {
			background-size: 90rpx;
			background-position: 0 -1120px;
		}
	}

	.under-line {
		font-size: 0;
	}

	.user-name {
		font-size: x-large;
	}

	.company-name {
		font-size: small;
	}
}