.seller-info-tpl {
	.face-url {
		width: 60rpx;
		height: 60rpx;
		border-radius: 100%;
	}

	.v-user {
		position: relative;
		top: 12rpx;
		left: -20rpx;
		padding: 18rpx;
		background-size: 90rpx;

		&.big {
			background-size: 90rpx;
			background-position: 0 -1120px;
		}
	}

	.user-name {
		font-size: x-large;
	}

	.company-name {
		font-size: small;
	}
}