.seller-info-tpl {
	overflow: hidden;

	view {
		position: relative;
		float: left;

		&.image {
			margin-right: 20rpx;
		}

		// &.name {
		// 	width: 60%;
		// 	background-color: red;
		// }
	}

	.face-url {
		width: 60rpx;
		height: 60rpx;
		border-radius: 100%;
		position: relative;
	}

	.v-user {
		position:absolute;
		bottom:	0;
		right:-16rpx;
		padding:18rpx;
	}

	.zhucheng {
		position:absolute;
		bottom:5rpx;
		right:-3rpx;
		width:26rpx;
		height:26rpx;
		background:#E64340;
		border-radius:100%;
	}

	.under-line {
		font-size: 0;
	}

	.user-name {
		font-size: x-large;
	}

	.company-name {
		font-size: small;
	}
}