@import '../../../template/bond-info-item/bond-info-item.less';
@import '../../../template/seller-info/seller-template.less';
.bond-sale-info {
	.header {
		position: relative;
		width: 100%;
		margin-bottom: 10rpx;

		.title {
			height: 42rpx;
			line-height: 42rpx;
			position: relative;
			left: 8rpx;
		}

		.btn-edit {
			position: absolute;
			top: 0;
			right: 8rpx;
			line-height: 36rpx;
			padding: 3rpx 20rpx;
			background: none;
			border: 1px solid #2196F3;
			color: #2196F3;
		}
	}

	.item {
		float: left;
		width: 100%;

		.seller-info-tpl {
			.image {
				.face-url {
					width: 48rpx;
					height: 48rpx;
				}
				.v-user {
					padding:16rpx;
				}
			}
			.name {
				position: relative;
				top: 8rpx;
				.user-name {
					font-size: small;
				}

				.under-line {
					font-size: small;
				}
			}
		} 
	}

	.sale-list {
		overflow: auto;
	}
}
