@import '../../../template/bond-info-item/bond-info-item.less';
@import '../../../template/seller-info/seller-template.less';
.bond-sale-info {
	.header {
		position: relative;
		width: 100%;
		margin-bottom: 10rpx;
		padding: 22rpx 0;	
		border-bottom: 1px solid #E5E5E5;

		.title {
			height: 45rpx;
			line-height:45rpx;
			position: relative;
			left: 8rpx;
			font-size:32rpx;
			font-family:PingFangSC-Regular;
			color:rgba(0,0,0,1);
			
		}
	}

	.item {
		float: left;
		width: 100%;
		
		.seller-info-tpl {	
			.image {
				.face-url {
					width: 48rpx;
					height: 48rpx;
				}
				.v-user {
					padding:16rpx;
				}
			}
			.name {
				position: relative;
				top: 8rpx;
				.user-name {
					font-size: small;
				}

				.under-line {
					font-size: small;
				}
			}
		} 
	}

	.sale-list {
		overflow: auto;
		font-size:28rpx;

		.label {
			color: #888888;
			width: 156rpx;
			float: left;
		}

		.value {
			float: left;
			font-size:28rpx;
			font-family:PingFangSC-Regular;
			color:rgba(0,0,0,1);
		}

		.bond-info-item-tpl {
			&.little_range,
			&.early_end {
				height: 70rpx;
				line-height: 70rpx;
				padding-top: 0;
				padding-bottom: 0;
				border-bottom: 1rpx solid #E5E5E5;
			}
		}
	}
}
