// Reference from: https://github.com/JedWatson/classnames/blob/master/index.js

module.exports = function () {
	var classes = [];
	for (var i = 0; i < arguments.length; i++) {
		var arg = arguments[i];
		if (!arg) continue;

		var argType = typeof arg;

		if (argType === 'string' || argType === 'number') {
			classes.push(arg);
		} else if (Array && Array.isArray(arg) && arg.length) {
			var inner = classNames.apply(null, arg);
			if (inner) {
				classes.push(inner);
			}
		} else if (argType === 'object') {
			if (!Object) continue;			
			var keys = Object.keys(arg)
			for (var j = 0; j < keys.length; j++) {
				var key = keys[j]
				var hasOwn = {}.hasOwnProperty;
				if (hasOwn.call(arg, key) && arg[key]) {
					classes.push(key);
				}
			}
		}
	}
	return classes.join(' ');
}
