.overview-page {
	height: 100%;
	padding: 20rpx 20rpx 0 20rpx;
	background-color: #F1F1F1;
	
	.pallet {
		background: #FFFFFF;
	}

	.summary {
		padding: 10px;

		.name-pallet {
			.person-name {
				font-size: xx-large;
			}

			.agency-name {
				font-size: small;
			}
		}

		.statistics-pallet {
			padding: 10px 0;
			border-top: 1rpx solid #CCCCCC;
			overflow: hidden;

			.item {
				width: 25%;
				float: left;

				&.has-splite {
					width: calc(~'25% - 1px');
				}

				&.split-item {
					border-left:1px solid #CCCCCC;
					width:0;
					height:60rpx;
					background-color:#CCCCCC;
					position: relative;
					top: 20rpx;
				}

				text {
					width: 100%;
					float: left;
					text-align: center;
				}

				.overflow-ellipsis {
					width: 100%;
    				overflow: hidden;
    				text-overflow: ellipsis;
   				 	white-space: nowrap;
				}
			}
		}
	}

	.recent-notice {
		margin-top: 20rpx;

		.register-store {
			padding: 10px;
			text-align: center;

			.tips {
				height: 200rpx;
				position: relative;

				text {
					position: relative;
					top: 40%;
				}
			}
		}

		.shop-button {
			background-color: #2196F3;
		}

		.button-hover {
			background-color: #1A7DD4;
		}
		
		.protocol {
			font-size: small;
			position: relative;
			margin-top: 20rpx;
  			height: 100%;
  			width: 100%;
  			display:flex;
			justify-content: center;
	
			checkbox {
				position: relative;
				top: -2px;
			}
			
			.to-qtrade-protocol {
				color: #2196F3;
				text-decoration: underline;
			}
		}
	}
  }
