.overview-page {
	height: 100%;
	padding: 20rpx 20rpx 0 20rpx;
	background-color: #F1F1F1;
	
	.pallet {
		padding: 10px;
		background: #FFFFFF;
	}

	.name-pallet {
		.person-name {
			font-size: xx-large;
		}

		.agency-name {
			font-size: small;
		}
	}

	.pallet-has-slite-line {
		border-top: 1rpx solid #CCCCCC;
	}

	.mystore-pallet {
		padding-bottom: 10rpx;
		
		navigator {
			padding: 10rpx;
			cursor: pointer;
		}
	}

	.dynamic-pallet {
		padding-top: 20rpx;
	}

	.recent-notice {
		margin-top: 20rpx;

		.register-store {
			text-align: center;

			.tips {
				height: 200rpx;
				position: relative;

				text {
					position: relative;
					top: 40%;
				}
			}
		}

		.shop-button {
			background-color: #2196F3;
		}

		.button-hover {
			background-color: #1A7DD4;
		}
		
		.protocol {
			font-size: small;
			position: relative;
			margin-top: 20rpx;
  			height: 100%;
  			width: 100%;
  			display:flex;
			justify-content: center;
	
			checkbox {
				position: relative;
				top: -2px;
			}

			label {
				width: 159px;
				display: flex;
			}

			.to-qtrade-protocol {
				color: #2196F3;
				text-decoration: underline;
			}
		}
	}
  }