.ask-answer-component {
	width: 100%;
	position: relative;

	textarea {
		padding: 20rpx 30rpx;
		width: calc(~'100% - 60rpx');
		background: #FFFFFF;
		min-height: 184rpx;  
		font-size:34rpx;
		font-family:PingFangSC-Regular;
		line-height: 48rpx;
	}

	button {
		margin-top: 60rpx;
		width: 670rpx;
		color: #FFFFFF;
		background-color:#2196F3;
		border-radius: 10rpx; 

		&.disabled {
			background-color:#2196F3;
			opacity: 0.4
		}

		&:hover {
			background:#1A7DD4;
		}
	}

	.remain-total {
		position: absolute;
		right: 30rpx;
		bottom: 160rpx;
		color: #B2B2B2;
		font-size:34rpx;
		line-height:48rpx;
	}
}