@import '../../../template/seller-info/seller-template.less';

.bond-answer-component {
	padding: 33rpx 20rpx;
	overflow: hidden;
	background:rgba(33,150,243, 0.08);
	border-radius: 4px ;

	.answer-item {
		float: left;
		width: 100%;
		border-left: none;
		border-bottom: 1px dashed #D8D8D8;
		border-radius: 2px;
		zoom: 1;
		line-height: 38rpx;

		&:last-child {
			border-bottom: none;
		}

		.content {
			float: left;
			.seller-info-tpl {
				display: inline-block;

				.image {
					.face-url {
						width: 48rpx;
						height: 48rpx;
					}
				}
			}
		}

		.thumb {
			float: right;
		}
	}

	// image {
	// 	width: 18px;
	// 	height: 18px;
	// }
}