.mobile-form {
  padding-top: 20rpx;
}
.mobile-form .description {
  font-size: 28rpx;
  padding: 0 20rpx 20rpx 20rpx;
  color: #888888;
}
.mobile-form .form-section {
  position: relative;
  background-color: white;
  padding-left: 30rpx;
}
.mobile-form .form-section .mobile-verification-code-button {
  z-index: 10;
  position: absolute;
  top: 0rpx;
  right: 0;
  width: 220rpx;
  height: 88rpx;
  line-height: 88rpx;
  border-left: 1px solid #E5E5E5;
  font-size: 34rpx;
  text-align: center;
  color: #2196F3;
}
.mobile-form .form-section .mobile-verification-code-button.disabled {
  color: grey;
}
.mobile-form .control-area {
  margin: 60rpx 0rpx;
}
.mobile-form .agreement-area {
  font-size: 26rpx;
  text-align: center;
  color: #B2B2B2;
}
.mobile-form .agreement-area .to-qtrade-protocol {
  display: inline;
  color: #576B95;
}
