.mobile-form {
	.description {
		font-size: 28rpx;
		padding: 20rpx;
		color: #888888;
	}

	.form-section {
		position: relative;
		background-color: white;

		.mobile-verification-code-button {
			font-size: 34rpx;
			border-left: 1px solid #E5E5E5;
			position: absolute;
			top: 0;
			right: 0;
			padding: 10px;
		}
	}
}
