.data-item-template {
	float: left;

	.item {
		width:100%;
		float: left;

		&.has-splite {
			// width: calc(~'100% - 1px');
			border-right: 1px solid #E5E5E5;
		}

		&.split-item {
			border-left:1px solid #E5E5E5;
			width:0;
			height:60rpx;
			background-color:#E5E5E5;
			position: relative;
			top: 20rpx;
		}
	
		.overflow-ellipsis {
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.value {
			word-wrap:break-word;
		}

		text {
			width: 100%;
			float: left;
			text-align: center;
		}
	}
}