@import '../../../template/bond-info-item/bond-info-item.less';
.bond-info-component {
	position: relative;

	.btn-edit {
		position: absolute;
		top: 10rpx;
		right: 8rpx;
		line-height: 36rpx;
		padding: 3rpx 20rpx;
		background: none;
		border: 1px solid #2196F3;
		color: #2196F3;	
	}

	.info-item {
		background: #FFFFFF;
		margin-top: 20rpx;
		margin-bottom: 20rpx;
		padding: 10rpx 20rpx;
	}

	.bond-item {
		height: 70rpx;
		line-height: 70rpx;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: 1rpx solid #E5E5E5;

		.label {
			color: #888888;
			width: 140rpx;
			float: left;
		}

		.value {
			float: left;
			font-size:28rpx;
			font-family:PingFangSC-Regular;
			color:rgba(0,0,0,1);
		}
	}
}