.store-page {
	.store-header {
		height: 10%;
	}

	.store-bond-list {
		height: 90%;
		// height: calc(~'100% - 100px');
	}

	
	&.qtrade-store {
		.store-header {
			image {
				width: 60rpx;
				height: 50rpx;
				border-radius: 0;
			}
		}
	}

	.share {
		position: fixed;
		right: 40rpx;
		bottom: 160rpx;

		.btn-share {
			width: 100rpx; 
			height: 100rpx; 
			line-height: 100rpx;
			padding: 0;
			text-align: center;
			border-radius: 50%;
			background-color: #2196F3;
			font-size: small;
		}
	}
}